__pycache__/kernel.cpython-310.pyc
__pycache__/kernel.cpython-39.pyc
__pycache__/plotter.cpython-310.pyc
.vscode/settings.json
.gitignore
sph_simulation.log
__pycache__/customized_logger.cpython-310.pyc
__pycache__/heat_conduction.cpython-310.pyc
__pycache__/numerical_field.cpython-310.pyc
__pycache__/particles.cpython-310.pyc
__pycache__/particles.cpython-310.pyc
__pycache__/particles.cpython-310.pyc
__pycache__/postprocessing.cpython-310.pyc
__pycache__/profiling_script.cpython-310.pyc
__pycache__/sph_solver.cpython-310.pyc
__pycache__/time_integration.cpython-310.pyc
__pycache__/timer.cpython-310.pyc
__pycache__/particles.cpython-310.pyc
__pycache__/fluid_hydrostatics.cpython-310.pyc
__pycache__/incompressible_flow.cpython-310.pyc
__pycache__/open_periodic_boundary.cpython-310.pyc
__pycache__/particles.cpython-310.pyc
__pycache__/particles.cpython-310.pyc
__pycache__/particles.cpython-310.pyc
__pycache__/reflective_boundary.cpython-310.pyc
